In [8]:
import pandas as pd

# Carrega o dataset
df=pd.read_csv('C:/trabalhodados/uber.csv')
#df = pd.read_csv('C:/Banco de dados/uber.csv', encoding='cp1252')

# Exibe as 5 primeiras linhas do DataFrame
print("Primeiras 5 linhas do DataFrame:")
display(df.head())

# Exibe informações gerais sobre o DataFrame, como tipos de dados e valores nulos
print("\nInformações sobre o DataFrame:")
df.info()
df['Ride Distance'] = df['Ride Distance'].fillna(0)

Primeiras 5 linhas do DataFrame:

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI

Informações sobre o DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               150000 non-null  object
 1   Time                               150000 non-null  object
 2   Booking ID                         150000 non-null  object
 3   Booking Status                     150000 non-null  object
 4   Customer ID                        150000 non-null  object
 5   Vehicle Type                       150000 non-null  object
 6   Pickup Location                    150000 non-null  object
 7   Drop Location                      150000 non-null  object
 8   Avg VTAT                           139500 non-null  float64
 9   Avg CTAT                           102000 non-null  float64
 10  Cancelled Rides by Customer        10500 non-null   float64
 11  Reason for cancelling by Customer  10500 non-null   object
 12  Cancelled Rides by Driver          27000 non-null   float64
 13  Driver Cancellation Reason         27000 non-null   object
 14  Incomplete Rides                   9000 non-null    float64
 15  Incomplete Rides Reason            9000 non-null    object
 16  Booking Value                      102000 non-null  float64
 17  Ride Distance                      102000 non-null  float64
 18  Driver Ratings                     93000 non-null   float64
 19  Customer Rating                    93000 non-null   float64
 20  Payment Method                     102000 non-null  object
dtypes: float64(9), object(12)
memory usage: 24.0+ MB

In [9]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(df):
    # Replace missing values with 0 in columns: 'Avg VTAT', 'Avg CTAT'
    df = df.fillna({'Avg VTAT': 0, 'Avg CTAT': 0})
    return df

df_clean = clean_data(df.copy())
df_clean.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI

In [10]:
# Converte a coluna 'Date' para o tipo datetime
df['Date'] = pd.to_datetime(df['Date'])

print("Tipo da coluna 'Date' após a conversão:", df['Date'].dtype)

Tipo da coluna 'Date' após a conversão: datetime64[ns]

In [11]:
# Calcula a média da coluna 'Driver Ratings', ignorando valores nulos
media_avaliacoes_motoristas = df['Driver Ratings'].mean()

# Preenche os valores nulos com a média calculada
df['Driver Ratings'].fillna(media_avaliacoes_motoristas, inplace=True)

print("Número de valores nulos em 'Driver Ratings' após o preenchimento:", df['Driver Ratings'].isnull().sum())

Número de valores nulos em 'Driver Ratings' após o preenchimento: 0

C:\Users\cesul\AppData\Local\Temp\ipykernel_17420\2850687953.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Driver Ratings'].fillna(media_avaliacoes_motoristas, inplace=True)

In [12]:
# Ajusta os valores nulos na coluna 'Ride Distance' para 0
df['Ride Distance'].fillna(9999, inplace=True)

# Depois do ajuste, vamos verificar novamente o número de valores nulos
print("Valores nulos em 'Ride Distance' após o ajuste:", df['Ride Distance'].isnull().sum())

# Exibe as primeiras 10 linhas para visualizar as mudanças (se houver valores nulos nas primeiras linhas)
print("\nPrimeiras linhas do DataFrame após o ajuste:")
df.head(10)

Valores nulos em 'Ride Distance' após o ajuste: 0

Primeiras linhas do DataFrame após o ajuste:

C:\Users\cesul\AppData\Local\Temp\ipykernel_17420\2770407777.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Ride Distance'].fillna(9999, inplace=True)

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.00,4.230992,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,4.230992,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.900000,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.600000,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.100000,4.3,UPI
5,2024-02-06,09:44:56,"""CNR4096693""",Completed,"""CID4670564""",Auto,AIIMS,Narsinghpur,5.1,18.1,...,NaN,NaN,NaN,NaN,NaN,316.0,4.85,4.100000,4.6,UPI
6,2024-06-17,15:45:58,"""CNR2002539""",Completed,"""CID6800553""",Go Mini,Vaishali,Punjabi Bagh,7.1,20.4,...,NaN,NaN,NaN,NaN,NaN,640.0,41.24,4.000000,4.1,UPI
7,2024-03-19,17:37:37,"""CNR6568000""",Completed,"""CID8610436""",Auto,Mayur Vihar,Cyber Hub,12.1,16.5,...,NaN,NaN,NaN,NaN,NaN,136.0,6.56,4.400000,4.2,UPI
8,2024-09-14,12:49:09,"""CNR4510807""",No Driver Found,"""CID7873618""",Go Sedan,Noida Sector 62,Noida Sector 18,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.00,4.230992,NaN,NaN
9,2024-12-16,19:06:48,"""CNR7721892""",Incomplete,"""CID5214275""",Auto,Rohini,Adarsh Nagar,6.1,26.0,...,NaN,NaN,NaN,1.0,Other Issue,135.0,10.36,4.230992,NaN,Cash

In [13]:
# Filtra o DataFrame para incluir apenas viagens com status 'Completed'
completed_rides = df[df['Booking Status'] == 'Completed']

print(f"Total de viagens concluídas: {len(completed_rides)} de {len(df)}")
display(completed_rides.head())

Total de viagens concluídas: 93000 de 150000

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI
5,2024-02-06,09:44:56,"""CNR4096693""",Completed,"""CID4670564""",Auto,AIIMS,Narsinghpur,5.1,18.1,...,NaN,NaN,NaN,NaN,NaN,316.0,4.85,4.1,4.6,UPI
6,2024-06-17,15:45:58,"""CNR2002539""",Completed,"""CID6800553""",Go Mini,Vaishali,Punjabi Bagh,7.1,20.4,...,NaN,NaN,NaN,NaN,NaN,640.0,41.24,4.0,4.1,UPI

In [14]:
# Filtra o DataFrame usando múltiplas condições combinadas com o operador '&'
long_upi_rides = df[(df['Payment Method'] == 'UPI') & (df['Ride Distance'] > 20)]

print(f"Total de viagens longas (> 20 km) pagas com UPI: {len(long_upi_rides)}")
display(long_upi_rides.head())

Total de viagens longas (> 20 km) pagas com UPI: 26194

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI
6,2024-06-17,15:45:58,"""CNR2002539""",Completed,"""CID6800553""",Go Mini,Vaishali,Punjabi Bagh,7.1,20.4,...,NaN,NaN,NaN,NaN,NaN,640.0,41.24,4.0,4.1,UPI
13,2024-09-11,19:29:39,"""CNR2987763""",Completed,"""CID2669710""",Go Mini,Malviya Nagar,Ghitorni Village,12.2,28.2,...,NaN,NaN,NaN,NaN,NaN,394.0,21.44,4.1,4.7,UPI
14,2024-10-18,18:28:53,"""CNR8962232""",Completed,"""CID1789354""",Go Mini,Madipur,GTB Nagar,14.0,30.9,...,NaN,NaN,NaN,NaN,NaN,836.0,39.55,4.7,4.4,UPI

In [15]:
# Agrupa por 'Vehicle Type' e conta o número de ocorrências em cada grupo
rides_by_vehicle_type = df.groupby('Vehicle Type').size().reset_index(name='Total Rides')

print("Contagem de viagens por tipo de veículo:")
display(rides_by_vehicle_type)

Contagem de viagens por tipo de veículo:

    Vehicle Type  Total Rides
0           Auto        37419
1           Bike        22517
2        Go Mini        29806
3       Go Sedan        27141
4  Premier Sedan        18111
5        Uber XL         4449
6          eBike        10557

In [16]:
# Agrupa por 'Payment Method' e calcula a média do 'Booking Value'
avg_booking_value_by_payment = df.groupby('Payment Method')['Booking Value'].mean().reset_index()

print("Valor médio da viagem por método de pagamento:")
display(avg_booking_value_by_payment)

Valor médio da viagem por método de pagamento:

  Payment Method  Booking Value
0           Cash     508.363188
1    Credit Card     511.707807
2     Debit Card     507.405025
3            UPI     508.508157
4    Uber Wallet     505.123656

In [17]:
# Agrupa por 'Booking Status' e calcula a soma da 'Ride Distance'
total_distance_by_status = df.groupby('Booking Status')['Ride Distance'].sum().reset_index()

print("Distância total percorrida por status da viagem:")
display(total_distance_by_status)

Distância total percorrida por status da viagem:

          Booking Status  Ride Distance
0  Cancelled by Customer           0.00
1    Cancelled by Driver           0.00
2              Completed     2418045.84
3             Incomplete       94929.35
4        No Driver Found           0.00

In [18]:
# Usa a função `agg` para aplicar múltiplas funções de agregação
summary_by_vehicle = df.groupby('Vehicle Type')['Booking Value'].agg(['mean', 'median', 'sum', 'count'])

print("Resumo estatístico do valor da viagem por tipo de veículo:")
display(summary_by_vehicle)

Resumo estatístico do valor da viagem por tipo de veículo:

                     mean  median         sum  count
Vehicle Type
Auto           506.725241   414.0  12878422.0  25415
Bike           510.200299   416.0   7837697.0  15362
Go Mini        507.684934   412.0  10338496.0  20364
Go Sedan       511.503385   416.0   9369719.0  18318
Premier Sedan  509.568169   416.0   6275332.0  12315
Uber XL        501.816749   406.0   1528032.0   3045
eBike          503.897090   410.0   3618485.0   7181

In [19]:
# Usa `value_counts()` para contar a frequência de cada valor único
booking_status_counts = df['Booking Status'].value_counts().reset_index()
booking_status_counts.columns = ['Booking Status', 'Count']

print("Frequência de cada status de reserva:")
display(booking_status_counts)

Frequência de cada status de reserva:

          Booking Status  Count
0              Completed  93000
1    Cancelled by Driver  27000
2        No Driver Found  10500
3  Cancelled by Customer  10500
4             Incomplete   9000

In [20]:
# Filtra as viagens onde o cancelamento foi feito pelo cliente (valor 1)
cancelled_by_customer_count = df['Cancelled Rides by Customer'].sum()

print(f"Total de viagens canceladas por clientes: {int(cancelled_by_customer_count)}")

Total de viagens canceladas por clientes: 10500

In [21]:
# Conta a frequência das razões de cancelamento
cancellation_reasons = df['Reason for cancelling by Customer'].value_counts().reset_index()
cancellation_reasons.columns = ['Reason', 'Count']

print("Razões mais comuns para cancelamento por clientes:")
display(cancellation_reasons)

Razões mais comuns para cancelamento por clientes:

                                         Reason  Count
0                                 Wrong Address   2362
1                               Change of plans   2353
2  Driver is not moving towards pickup location   2335
3                        Driver asked to cancel   2295
4                             AC is not working   1155

In [22]:
from sqlalchemy import create_engine
import psycopg2 # Necessário para a conexão, mesmo que usado pela SQLAlchemy

# --- Passo 1: Configurar a conexão com o banco de dados PostgreSQL ---
# ATENÇÃO: Substitua 'seu_usuario', 'sua_senha', 'seu_host', 'seu_banco' pelos seus dados reais
DB_USER = 'postgres'
DB_PASSWORD = '123'
DB_HOST = 'localhost' # Ou o endereço IP do seu servidor PostgreSQL
DB_PORT = '5432' # A porta padrão do PostgreSQL
DB_NAME = 'cesul-aula'

# A string de conexão (formatada para o PostgreSQL com psycopg2)
#conn_string = f'postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}'

engine = create_engine(
    f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}",
    connect_args={'options': '-c client_encoding=UTF8'}
)

#engine = create_engine(conn_string)

print("Conexão com o banco de dados PostgreSQL estabelecida com sucesso.")

Conexão com o banco de dados PostgreSQL estabelecida com sucesso.

In [ ]:
# --- Passo 2: Criar a tabela e inserir os dados do DataFrame ---
# Nome da tabela no banco de dados
table_name = 'viagens_uber'

df.columns = (
    df.columns
        .str.strip()                         # 1. Remove espaços extras no início e no fim dos nomes
        .str.lower()                         # 2. Converte todos os caracteres para minúsculo
        .str.replace(" ", "_")               # 3. Troca espaços por underline (_)
        .str.normalize("NFKD")               # 4. Normaliza acentuação (ex: "ç" → "c", "á" → "a") #NFKD = Normalization Form Compatibility Decomposition
        .str.encode("ascii", errors="ignore")# 5. Converte para ASCII e remove caracteres não suportados
        .str.decode("utf-8")                 # 6. Decodifica de volta para string (utf-8)
)

# O método to_sql() cria a tabela e insere os dados
# - name: nome da tabela
# - con: objeto de conexão
# - if_exists: 'replace' apaga a tabela se ela existir e a recria. Outras opções: 'append' (adiciona linhas) ou 'fail' (gera erro)
# - index=False: para não incluir o índice do DataFrame como uma coluna na tabela

try:
    df.to_sql(table_name, con=engine, if_exists='replace', index=False)
    print(f"\nDataFrame inserido com sucesso na tabela '{table_name}'.")

except Exception as e:
    print(f"\nErro ao inserir o DataFrame no banco de dados: {e}")
    # Você pode querer adicionar um `rollback()` em um cenário de transação

DataFrame inserido com sucesso na tabela 'viagens_uber'.

In [24]:
try:
    cancellation_reasons.to_sql('cancelamentos', con=engine, if_exists='replace', index=False)
    print(f"\nDataFrame inserido com sucesso na tabela '{table_name}'.")

except Exception as e:
    print(f"\nErro ao inserir o DataFrame no banco de dados: {e}")
    # Você pode querer adicionar um `rollback()` em um cenário de transação

DataFrame inserido com sucesso na tabela 'viagens_uber'.

In [25]:
# --- Passo 3 Fazer uma consulta e ler os dados de volta para um novo DataFrame ---
# Usando pd.read_sql_table() para ler a tabela inteira
try:
    df_from_db = pd.read_sql_table(table_name, con=engine)
    print(f"\nDados lidos com sucesso da tabela '{table_name}':")
    print(df_from_db.head())
    print(f"\nTotal de linhas lidas: {len(df_from_db)}")

except Exception as e:
    print(f"\nErro ao ler a tabela do banco de dados: {e}")


# Fechar a conexão
engine.dispose()
print("\nConexão com o banco de dados fechada.")

Dados lidos com sucesso da tabela 'viagens_uber':
        date      time    booking_id   booking_status   customer_id  \
0 2024-03-23  12:29:38  "CNR5884300"  No Driver Found  "CID1982111"
1 2024-11-29  18:01:39  "CNR1326809"       Incomplete  "CID4604802"
2 2024-08-23  08:56:10  "CNR8494506"        Completed  "CID9202816"
3 2024-10-21  17:17:25  "CNR8906825"        Completed  "CID2610914"
4 2024-09-16  22:08:00  "CNR1950162"        Completed  "CID9933542"

    vehicle_type      pickup_location      drop_location  avg_vtat  avg_ctat  \
0          eBike          Palam Vihar            Jhilmil       NaN       NaN
1       Go Sedan        Shastri Nagar  Gurgaon Sector 56       4.9      14.0
2           Auto              Khandsa      Malviya Nagar      13.4      25.8
3  Premier Sedan  Central Secretariat           Inderlok      13.1      28.5
4           Bike     Ghitorni Village        Khan Market       5.3      19.6

   ...  reason_for_cancelling_by_customer cancelled_rides_by_driver  \
0  ...                               None                       NaN
1  ...                               None                       NaN
2  ...                               None                       NaN
3  ...                               None                       NaN
4  ...                               None                       NaN

   driver_cancellation_reason incomplete_rides  incomplete_rides_reason  \
0                        None              NaN                     None
1                        None              1.0        Vehicle Breakdown
2                        None              NaN                     None
3                        None              NaN                     None
4                        None              NaN                     None

  booking_value  ride_distance  driver_ratings  customer_rating  \
0           NaN           0.00        4.230992              NaN
1         237.0           5.73        4.230992              NaN
2         627.0          13.58        4.900000              4.9
3         416.0          34.02        4.600000              5.0
4         737.0          48.21        4.100000              4.3

   payment_method
0            None
1             UPI
2      Debit Card
3             UPI
4             UPI

[5 rows x 21 columns]

Total de linhas lidas: 150000

Conexão com o banco de dados fechada.

In [26]:
# Exemplo de consulta usando uma query SQL personalizada com pd.read_sql_query()
query = f"SELECT \"booking_status\", COUNT(*) AS total_viagens FROM {table_name} GROUP BY \"booking_status\""
try:
    df_summary = pd.read_sql_query(query, con=engine)
    print("\nResultado da consulta agregada (Contagem por Booking Status):")
    print(df_summary)

except Exception as e:
    print(f"\nErro ao executar a consulta SQL: {e}")

Resultado da consulta agregada (Contagem por Booking Status):
          booking_status  total_viagens
0  Cancelled by Customer          10500
1    Cancelled by Driver          27000
2              Completed          93000
3             Incomplete           9000
4        No Driver Found          10500

In [27]:
# Fechar a conexão
engine.dispose()
print("\nConexão com o banco de dados fechada.")

Conexão com o banco de dados fechada.